<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Home</ion-title>
    </ion-toolbar>
    <ion-button expand="block">Home</ion-button> 
    <ion-button expand="block">Conta</ion-button> 
    <ion-button expand="block">Sobre nós</ion-button> 
    <ion-button expand="block">Produtos</ion-button> 
    <ion-button expand="block">Nossa História</ion-button> 
    <ion-button expand="block">Agende uma Aula</ion-button> 

  </ion-header>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Dojo Nunes Kyokushin Karate</ion-title>
    </ion-toolbar>
  </ion-header>
</div>


